.game-container {
  width: 500px;
  margin: 50px auto 30px;
  touch-action: none;
  @media (max-width: 500px) {
    width: 300px;
  }
}

.game {
  position: relative;
  width: 100%;
  padding-top: 100%;
  background-color: $board-color;
  border-radius: 10px;
  &__cells {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    @media (max-width: 500px) {
      padding: 6px;
    }
  }
  &__cell {
    width: calc(25% - 10px);
    padding-top: calc(25% - 10px);
    background-color: $cells-color;
    margin: 5px;
    border-radius: 10px;
    @media (max-width: 500px) {
      margin: 2px;
      width: calc(25% - 4px);
      padding-top: calc(25% - 4px);
    }
  }

  &__tiles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
  }

  &__tile {
    position: absolute;
    left: 15px;
    top: 15px;
    width: calc(25% - 15px);
    padding-top: calc(25% - 15px);
    background-color: red;
    border-radius: 10px;
    transition: left 0.15s ease, top 0.15s ease;
    @media (max-width: 500px) {
      width: calc(25% - 7px);
      padding-top: calc(25% - 7px);
    }
  }
  &__tile--new {
    transition: none;
    animation: newtile 0.15s ease-in;
  }
  &__tile--merged {
    animation: mergedtile 0.2s ease-in;
  }
  &__tile-content {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 3.3rem;
    font-weight: 600;
    @media (max-width: 500px) {
      font-size: 1.7rem;
    }
  }
  &__tile--2 {
    background-color: #7f8c8d;
  }
  &__tile--4 {
    background-color: #95afc0;
  }
  &__tile--8 {
    background-color: #f9ca24;
  }
  &__tile--16 {
    background-color: #f39c12;
  }
  &__tile--32 {
    background-color: #eb4d4b;
  }
  &__tile--64 {
    background-color: #d35400;
  }
  &__tile--128 {
    background-color: #c0392b;
  }
  &__tile--256 {
    background-color: #22a6b3;
  }
  &__tile--512 {
    background-color: #16a085;
  }
  &__tile--1024 {
    background-color: #6ab04c;
    .game__tile-content {
      font-size: 2.8rem;
    }
  }
  &__tile--2048 {
    background-color: #27ae60;
    .game__tile-content {
      font-size: 2.7rem;
    }
  }
  &__tile--4096 {
    background-color: #8e44ad;
    .game__tile-content {
      font-size: 2.7rem;
    }
  }
  &__tile--8192 {
    background-color: #30336b;
    .game__tile-content {
      font-size: 2.7rem;
    }
  }
  &__tile--16384 {
    background-color: #2c3e50;
    .game__tile-content {
      font-size: 2.1rem;
    }
  }
  &__tile--32768 {
    background-color: #281d5a;
    .game__tile-content {
      font-size: 2.1rem;
    }
  }
  &__tile--65536 {
    background-color: #6d126d;
    .game__tile-content {
      font-size: 2.1rem;
    }
  }
  &__tile--131072 {
    background-color: #000000;
    .game__tile-content {
      font-size: 1.7rem;
    }
  }
}

.prev-button {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: flex-end;
  margin: 20px auto 30px;
  @media (max-width: 600px) {
    justify-content: center;
  }
  button {
    padding: 5px 25px;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 600;
    background-color: $board-color;
    color: white;
    border: none;
    transition: 0.2s background-color;
    @media (max-width: 600px) {
      width: 200px;
    }
    &:hover {
      background-color: darken($board-color, 5%);
    }
  }
}

@keyframes newtile {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes mergedtile {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
